[submodule "SharedModules"]
	path = SharedModules
	url = https://github.com/haroondilshad/SharedModules
[submodule "MediaServiceCore"]
	path = MediaServiceCore
	url = https://github.com/haroondilshad/MediaServiceCore
